<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangchenyang.admin.mapper.SysSmsChannelMapper">

  <resultMap id="sysSmsChannelMap" type="com.wangchenyang.admin.api.entity.SysSmsChannel">
    <id property="id" column="id"/>
    <result property="signature" column="signature"/>
    <result property="code" column="code"/>
    <result property="status" column="status"/>
    <result property="remark" column="remark"/>
    <result property="apiKey" column="api_key"/>
    <result property="apiSecret" column="api_secret"/>
    <result property="callbackUrl" column="callback_url"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <result property="createBy" column="create_by"/>
    <result property="updateBy" column="update_by"/>
    <result property="delFlag" column="del_flag"/>
  </resultMap>
</mapper>
